@import "tailwindcss";

@config "../../tailwind.config.ts";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer base {
  :root {
    --background: from var(--color-zinc-100) h s l;
    --foreground: from var(--color-stone-500) h s l;
    --card: from var(--color-white) h s l;
    --card-foreground: from var(--color-stone-500) h s l;
    --popover: from var(--color-white) h s l;
    --popover-foreground: from var(--color-stone-500) h s l;
    --primary: from var(--color-neutral-500) h s l;
    --primary-foreground: from var(--color-zinc-100) h s l;
    --secondary: from var(--color-red-800) h s l;
    --secondary-foreground: from var(--color-zinc-100) h s l;
    --muted: from var(--color-red-800) h s l;
    --muted-foreground: from var(--color-zinc-100) h s l;
    --accent: from var(--color-stone-500) h s l / 25%;
    --accent-foreground: from var(--color-neutral-500) h s l;
    --destructive: from var(--color-red-800) h s l;
    --destructive-foreground: from var(--color-zinc-100) h s l;
    --border: from var(--color-stone-500) h s l / 25%;
    --input: from var(--color-stone-500) h s l / 25%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: from var(--color-neutral-700) h s l;
    --foreground: from var(--color-neutral-200) h s l;
    --card: from var(--color-neutral-900) h s l;
    --card-foreground: from var(--color-neutral-200) h s l;
    --popover: from var(--color-neutral-900) h s l;
    --popover-foreground: from var(--color-neutral-200) h s l;
    --primary: from var(--color-white) h s l;
    --primary-foreground: from var(--color-neutral-700) h s l;
    --secondary: from var(--color-blue-300) h s l;
    --secondary-foreground: from var(--color-neutral-700) h s l;
    --muted: from var(--color-blue-300) h s l;
    --muted-foreground: from var(--color-neutral-700) h s l;
    --accent: from var(--color-neutral-200) h s l / 25%;
    --accent-foreground: from var(--color-white) h s l;
    --destructive: from var(--color-blue-300) h s l;
    --destructive-foreground: from var(--color-neutral-700) h s l;
    --border: from var(--color-neutral-700) h s l;
    --input: from var(--color-neutral-200) h s l;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

.container {
  @apply mx-auto px-4;
}

@media (min-width: --theme(--breakpoint-sm)) {
  .container {
    @apply px-6;
  }
}

a:hover {
  anchor-name: --follow;
}

.follow-border {
  background: repeating-conic-gradient(
    var(--secondary),
    transparent,
    var(--secondary),
    transparent,
    var(--secondary),
    transparent
  );
}

.animate-on-view {
  animation: fadeout linear both;
  animation-timeline: view();
  animation-range: exit 30% exit 100%;
}

@keyframes fadeout {
  from {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-20px);
  }
}
